<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book notes</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

   <div>
    <div class="header">
       <h1 class="header-h1"> D0ne's Book Notes</h1>
       <div class="header-links-div">
        <a href="/">All books</a>
        <a href="/add">Add</a>
       </div>
    </div>
   
 